## Predicting Airbnb Ratings for NYC

In [1]:
import pandas as pd #allows us to work with dataframes
import numpy as np #allows us to work with arrays (vectors) which are used in dataframes
import matplotlib.pyplot as plt # allows us to plot data to visualize it
import seaborn as sns # also allows us to plot data to visualize it
import os #allows us to interact with the operating system (not always necessary but can be useful)

In [3]:
# filename = "/Users/a/Desktop/airbnbListingsData.csv"
filename = os.path.join(os.getcwd(), "airbnbListingsData.csv")
df = pd.read_csv(filename, header = 0)

In [5]:
df.head()

,name,description,neighborhood_overview,host_name,host_location,host_about,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,...,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,n_host_verifications
0,Skylit Midtown Castle,"Beautiful, spacious skylit studio in the heart...",Centrally located in the heart of Manhattan ju...,Jennifer,"New York, New York, United States",A New Yorker since 2000! My passion is creatin...,0.80,0.17,True,8.0,...,4.79,4.86,4.41,False,3,3,0,0,0.33,9
1,"Whole flr w/private bdrm, bath & kitchen(pls r...","Enjoy 500 s.f. top floor in 1899 brownstone, w...",Just the right mix of urban center and local n...,LisaRoxanne,"New York, New York, United States",Laid-back Native New Yorker (formerly bi-coast...,0.09,0.69,True,1.0,...,4.80,4.71,4.64,False,1,1,0,0,4.86,6
2,"Spacious Brooklyn Duplex, Patio + Garden",We welcome you to stay in our lovely 2 br dupl...,NaN,Rebecca,"Brooklyn, New York, United States","Rebecca is an artist/designer, and Henoch is i...",1.00,0.25,True,1.0,...,5.00,4.50,5.00,False,1,1,0,0,0.02,3
3,Large Furnished Room Near B'way,Please don’t expect the luxury here just a bas...,"Theater district, many restaurants around here.",Shunichi,"New York, New York, United States",I used to work for a financial industry but no...,1.00,1.00,True,1.0,...,4.42,4.87,4.36,False,1,0,1,0,3.68,4
4,Cozy Clean Guest Room - Family Apt,"Our best guests are seeking a safe, clean, spa...",Our neighborhood is full of restaurants and ca...,MaryEllen,"New York, New York, United States",Welcome to family life with my oldest two away...,NaN,NaN,True,1.0,...,4.95,4.94,4.92,False,1,0,1,0,0.87,7

In [6]:
df.shape

(28022, 50)

In [7]:
df.tail()

,name,description,neighborhood_overview,host_name,host_location,host_about,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,...,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,n_host_verifications
28017,Astoria Luxury suite 2A,THIS LOVELY HOME IS THE SPACIOUS SUITE WITH PR...,NaN,Vicky,"Queens, New York, United States",NaN,1.00,1.00,True,8.0,...,5.0,3.0,1.0,True,8,0,8,0,1.0,2
28018,Newly renovated suite in the heart of Williams...,Just fully renovated from head to toe. On the ...,NaN,Samuel,"New York, New York, United States","Hello, my name is Sam. I am a real estate prof...",0.91,0.89,True,0.0,...,5.0,5.0,5.0,False,1,1,0,0,2.0,5
28019,Perfect Room to Stay in Brooklyn! Near Metro!,"Amazing and comfortable space in Brooklyn, sam...",NaN,Carlos,US,NaN,0.99,0.99,True,6.0,...,5.0,5.0,2.0,True,7,0,7,0,1.0,2
28020,New Beautiful Modern One Bedroom in Brooklyn,This stylish place to stay is perfect for a gr...,NaN,Lexia,"New York, New York, United States","I am a graphic designer, swell chaser and duri...",0.90,1.00,True,3.0,...,5.0,5.0,5.0,False,3,3,0,0,1.0,7
28021,"Large, modern, private 1 bedroom in beach condo",Private bedroom on its own floor with very lar...,"Beach, surf shop, stop and shop, Dunkin’ Donut...",Justine,US,NaN,NaN,NaN,True,0.0,...,5.0,5.0,5.0,True,1,0,1,0,1.0,1

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28022 entries, 0 to 28021
Data columns (total 50 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   name                                          28017 non-null  object
 1   description                                   27452 non-null  object
 2   neighborhood_overview                         18206 non-null  object
 3   host_name                                     28022 non-null  object
 4   host_location                                 27962 non-null  object
 5   host_about                                    17077 non-null  object
 6   host_response_rate                            16179 non-null  float64
 7   host_acceptance_rate                          16909 non-null  float64
 8   host_is_superhost                             28022 non-null  bool
 9   host_listings_count                           28022 non-null  float64
 10  host_total_listings_count                     28022 non-null  float64
 11  host_has_profile_pic                          28022 non-null  bool
 12  host_identity_verified                        28022 non-null  bool
 13  neighbourhood_group_cleansed                  28022 non-null  object
 14  room_type                                     28022 non-null  object
 15  accommodates                                  28022 non-null  int64
 16  bathrooms                                     28022 non-null  float64
 17  bedrooms                                      25104 non-null  float64
 18  beds                                          26668 non-null  float64
 19  amenities                                     28022 non-null  object
 20  price                                         28022 non-null  float64
 21  minimum_nights                                28022 non-null  int64
 22  maximum_nights                                28022 non-null  int64
 23  minimum_minimum_nights                        28022 non-null  float64
 24  maximum_minimum_nights                        28022 non-null  float64
 25  minimum_maximum_nights                        28022 non-null  float64
 26  maximum_maximum_nights                        28022 non-null  float64
 27  minimum_nights_avg_ntm                        28022 non-null  float64
 28  maximum_nights_avg_ntm                        28022 non-null  float64
 29  has_availability                              28022 non-null  bool
 30  availability_30                               28022 non-null  int64
 31  availability_60                               28022 non-null  int64
 32  availability_90                               28022 non-null  int64
 33  availability_365                              28022 non-null  int64
 34  number_of_reviews                             28022 non-null  int64
 35  number_of_reviews_ltm                         28022 non-null  int64
 36  number_of_reviews_l30d                        28022 non-null  int64
 37  review_scores_rating                          28022 non-null  float64
 38  review_scores_cleanliness                     28022 non-null  float64
 39  review_scores_checkin                         28022 non-null  float64
 40  review_scores_communication                   28022 non-null  float64
 41  review_scores_location                        28022 non-null  float64
 42  review_scores_value                           28022 non-null  float64
 43  instant_bookable                              28022 non-null  bool
 44  calculated_host_listings_count                28022 non-null  int64
 45  calculated_host_listings_count_entire_homes   28022 non-null  int64
 46  calculated_host_listings_count_private_rooms  28022 non-null  int64
 47  calculated_host_listings_count_shared_rooms   28022 non-null  int64
 48  reviews_per_month                             28022 non-null  float64
 49  n_host_verifications                          28022 non-null  int64
dtypes: bool(5), float64(21), int64(15), object(9)
memory usage: 9.8+ MB

In [12]:
df.columns

Index(['name', 'description', 'neighborhood_overview', 'host_name',
       'host_location', 'host_about', 'host_response_rate',
       'host_acceptance_rate', 'host_is_superhost', 'host_listings_count',
       'host_total_listings_count', 'host_has_profile_pic',
       'host_identity_verified', 'neighbourhood_group_cleansed', 'room_type',
       'accommodates', 'bathrooms', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'has_availability', 'availability_30',
       'availability_60', 'availability_90', 'availability_365',
       'number_of_reviews', 'number_of_reviews_ltm', 'number_of_reviews_l30d',
       'review_scores_rating', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month',
       'n_host_verifications'],
      dtype='object')

In [13]:
#type()

TypeError: type() takes 1 or 3 arguments

## Data Cleaning

In [17]:
df_rate = df
df_rate.shape

(28022, 50)

In [18]:
df_rate = df_rate.drop(columns = ['name','description','neighborhood_overview','host_name','host_location',
 'host_about','amenities', 'host_acceptance_rate'], axis =1)
df_rate.dtypes
#amentities would be a good column but we'd need NLP to analyize the specific words in the amentiies that attribute to a high rating

host_response_rate                              float64
host_is_superhost                                  bool
host_listings_count                             float64
host_total_listings_count                       float64
host_has_profile_pic                               bool
host_identity_verified                             bool
neighbourhood_group_cleansed                     object
room_type                                        object
accommodates                                      int64
bathrooms                                       float64
bedrooms                                        float64
beds                                            float64
price                                           float64
minimum_nights                                    int64
maximum_nights                                    int64
minimum_minimum_nights                          float64
maximum_minimum_nights                          float64
minimum_maximum_nights                          float64
maximum_maximum_nights                          float64
minimum_nights_avg_ntm                          float64
maximum_nights_avg_ntm                          float64
has_availability                                   bool
availability_30                                   int64
availability_60                                   int64
availability_90                                   int64
availability_365                                  int64
number_of_reviews                                 int64
number_of_reviews_ltm                             int64
number_of_reviews_l30d                            int64
review_scores_rating                            float64
review_scores_cleanliness                       float64
review_scores_checkin                           float64
review_scores_communication                     float64
review_scores_location                          float64
review_scores_value                             float64
instant_bookable                                   bool
calculated_host_listings_count                    int64
calculated_host_listings_count_entire_homes       int64
calculated_host_listings_count_private_rooms      int64
calculated_host_listings_count_shared_rooms       int64
reviews_per_month                               float64
n_host_verifications                              int64
dtype: object

In [28]:
df_rate.rename(columns = {'neighbourhood_group_cleansed':'neighborhood'}, inplace = True)

In [19]:
df_rate = df_rate.drop(columns = ['host_total_listings_count','host_has_profile_pic', 'host_identity_verified',
                             'minimum_nights','maximum_nights', 'minimum_minimum_nights', 'maximum_minimum_nights',
                              'minimum_maximum_nights', 'maximum_maximum_nights','minimum_nights_avg_ntm',
                              'maximum_nights_avg_ntm'], axis = 1)

In [20]:
nan_count_df_rate = np.sum(df_rate.isnull(), axis = 0)
nan_count_df_rate

host_response_rate                              11843
host_is_superhost                                   0
host_listings_count                                 0
neighbourhood_group_cleansed                        0
room_type                                           0
accommodates                                        0
bathrooms                                           0
bedrooms                                         2918
beds                                             1354
price                                               0
has_availability                                    0
availability_30                                     0
availability_60                                     0
availability_90                                     0
availability_365                                    0
number_of_reviews                                   0
number_of_reviews_ltm                               0
number_of_reviews_l30d                              0
review_scores_rating                                0
review_scores_cleanliness                           0
review_scores_checkin                               0
review_scores_communication                         0
review_scores_location                              0
review_scores_value                                 0
instant_bookable                                    0
calculated_host_listings_count                      0
calculated_host_listings_count_entire_homes         0
calculated_host_listings_count_private_rooms        0
calculated_host_listings_count_shared_rooms         0
reviews_per_month                                   0
n_host_verifications                                0
dtype: int64

In [21]:
df_rate.columns[df_rate.isna().any()].tolist()

['host_response_rate', 'bedrooms', 'beds']

In [22]:
df_rate.loc[df_rate['bedrooms'].isnull()].head()
# df.dropna( ): This function is used to remove a row or a 
#column from a dataframe that has a NaN or missing values in it.

#df.isna( ): This function returns a dataframe filled with boolean 
#values with true indicating missing values.

#df.duplicated( ):  Returns a boolean Series denoting duplicate rows.
#df['sex'].value_counts( ):
#df.corr( ): This function is used to find the pairwise 
#correlation of all columns in the dataframe.

,host_response_rate,host_is_superhost,host_listings_count,neighbourhood_group_cleansed,room_type,accommodates,bathrooms,bedrooms,beds,price,...,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,n_host_verifications
0,0.8,True,8.0,Manhattan,Entire home/apt,1,1.0,NaN,1.0,150.0,...,4.79,4.86,4.41,False,3,3,0,0,0.33,9
6,1.0,True,1.0,Brooklyn,Entire home/apt,3,1.0,NaN,1.0,89.0,...,4.80,4.67,4.57,True,1,1,0,0,1.24,7
10,1.0,True,4.0,Brooklyn,Entire home/apt,4,1.0,NaN,2.0,299.0,...,4.60,5.00,4.80,False,1,1,0,0,0.06,4
12,0.0,True,1.0,Manhattan,Entire home/apt,2,1.0,NaN,1.0,175.0,...,5.00,4.95,4.58,False,1,1,0,0,0.55,4
59,1.0,True,1.0,Manhattan,Entire home/apt,3,1.0,NaN,2.0,100.0,...,4.89,4.79,4.74,False,1,1,0,0,0.20,6

In [23]:
# compute mean for all non null age values
mean =df_rate['host_response_rate'].mean()
df_rate['host_response_rate'].fillna(value=mean, inplace=True)

print("Row 0:  " + str(df_rate['bedrooms'][0]))
mean_berooms =df_rate['bedrooms'].mean()
df_rate['bedrooms'].fillna(value=mean_berooms, inplace=True)

print("Row 0:  " + str(df_rate['bedrooms'][0]))

mean_beds= df_rate['beds'].mean()
df_rate['beds'].fillna(value=mean_beds, inplace=True)

Row 0:  nan
Row 0:  1.3297084130019121

In [24]:
nan_count_df_rate_after = np.sum(df_rate.isnull(), axis = 0)
nan_count_df_rate_after

host_response_rate                              0
host_is_superhost                               0
host_listings_count                             0
neighbourhood_group_cleansed                    0
room_type                                       0
accommodates                                    0
bathrooms                                       0
bedrooms                                        0
beds                                            0
price                                           0
has_availability                                0
availability_30                                 0
availability_60                                 0
availability_90                                 0
availability_365                                0
number_of_reviews                               0
number_of_reviews_ltm                           0
number_of_reviews_l30d                          0
review_scores_rating                            0
review_scores_cleanliness                       0
review_scores_checkin                           0
review_scores_communication                     0
review_scores_location                          0
review_scores_value                             0
instant_bookable                                0
calculated_host_listings_count                  0
calculated_host_listings_count_entire_homes     0
calculated_host_listings_count_private_rooms    0
calculated_host_listings_count_shared_rooms     0
reviews_per_month                               0
n_host_verifications                            0
dtype: int64

In [25]:
df_rate.columns[df_rate.isna().any()].tolist()

[]

## One hot encoding

In [26]:
objects = list(df_rate.select_dtypes(['object']))
objects

['neighbourhood_group_cleansed', 'room_type']

In [29]:
import sklearn
from sklearn.preprocessing import OneHotEncoder

# Create the encoder:
encoder = OneHotEncoder(handle_unknown="error", sparse_output=False)

# Fit and transform the encoder:
encoded_data = encoder.fit_transform(df_rate[['neighborhood', 'room_type']])

# Get the column names
category_names = encoder.get_feature_names_out(input_features=['neighborhood', 'room_type'])

# Create a DataFrame with the one-hot encoded data and set column names
df_enc = pd.DataFrame(encoded_data, columns=category_names)

In [30]:
print(df_rate['neighborhood'].nunique())
df_rate['room_type'].nunique()

5

4

In [31]:
df_enc.head()
#the two columns are encoded
#YIPPIEE

,neighborhood_Bronx,neighborhood_Brooklyn,neighborhood_Manhattan,neighborhood_Queens,neighborhood_Staten Island,room_type_Entire home/apt,room_type_Hotel room,room_type_Private room,room_type_Shared room
0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0

In [32]:
df_rate = df_rate.join(df_enc)

# Remove the original categorical features from X_train and X_test:
df_rate = df_rate.drop(columns = ['neighborhood','room_type'] ,axis=1)

In [33]:
list(df_rate.select_dtypes(['object']))

[]

## Winzorization

In [34]:
price_90 = np.percentile(df_rate['price'], 90)
price_90

296.0

In [35]:
df_rate['price'] > 296

0        False
1        False
2        False
3        False
4        False
         ...
28017    False
28018     True
28019    False
28020    False
28021    False
Name: price, Length: 28022, dtype: bool

In [37]:
import scipy.stats as stats
df_rate['price'] = stats.mstats.winsorize(df_rate['price'], limits=[0.01, 0.01])
df_rate.tail(5)

,host_response_rate,host_is_superhost,host_listings_count,accommodates,bathrooms,bedrooms,beds,price,has_availability,availability_30,...,n_host_verifications,neighborhood_Bronx,neighborhood_Brooklyn,neighborhood_Manhattan,neighborhood_Queens,neighborhood_Staten Island,room_type_Entire home/apt,room_type_Hotel room,room_type_Private room,room_type_Shared room
28017,1.000000,True,8.0,2,1.0,1.0,1.0,89.0,True,17,...,2,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
28018,0.910000,True,0.0,6,1.0,2.0,2.0,899.0,True,26,...,5,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
28019,0.990000,True,6.0,2,2.0,1.0,1.0,64.0,True,29,...,2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
28020,0.900000,True,3.0,3,1.0,1.0,2.0,84.0,True,11,...,7,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
28021,0.906901,True,0.0,1,1.0,1.0,1.0,70.0,True,20,...,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

# ML Models

#### Yay sklearn!

In [ ]:
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import mean_squared_error, r2_score

from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score

#from sklearn.linear_model import LogisticRegression
#from sklearn.metrics import log_loss

from sklearn.ensemble import GradientBoostingRegressor

from sklearn.ensemble import RandomForestRegressor

from sklearn.tree import DecisionTreeRegressor

## Linear Regressor

In [38]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

# Create a linear regression model
model = LinearRegression()

# Fit the model
model.fit(X_train, y_train)

# Make predictions

y_pred = model.predict(X_test)

# Evaluate the model
# Calculate the mean squared error
mse_lr = mean_squared_error(y_test, y_pred)
# Calculate the R-squared value

r2_lr = r2_score(y_test, y_pred)

features = df_rate.columns
# We can analyze the weights of features (columns) in the model
# The weights are stored in the coef_ attribute of the model
print('\nWeights:')
i = 0
for w in model.coef_:
    print('w_',i+1,'= ', w, ' [ weight of ', features[i],']')
    i += 1

NameError: name 'X_train' is not defined

In [ ]:
# make a heatmap of the correlation between the features
correlation_matrix = df_rate.corr()
plt.figure(figsize=(30,28))
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', center=0)
# take the values off the diagonal
correlation_matrix = correlation_matrix - np.eye(correlation_matrix.shape[0])
plt.show()

In [ ]:
# we see the weights of host_response_rate is 0.028 the host_listings_count is -6.39
# this means that for every unit increase in host_response_rate, the review_scores_rating increases by 0.028
# for every unit increase in host_listings_count, the review_scores_rating decreases by 6.39

sns.regplot(x=df['availability_60'], y =df['availability_30'], data = df_rate)

## Decision Tree Regressor

In [ ]:
from sklearn.tree import DecisionTreeRegressor
max_depth = [4, 8, 12, 16]
min_samples_leaf = [5, 10, 25, 50]
param_grid = {
    'max_depth': max_depth,
    'min_samples_leaf': min_samples_leaf
}

print('Running Grid Search...')

# 1. Create a DecisionTreeRegressor model object without supplying arguments. 
#    Save the model object to the variable 'dt_regressor'

dt_regressor = DecisionTreeRegressor()

# 2. Run a Grid Search with 3-fold cross-validation and assign the output to the object 'dt_grid'.
#    * Pass the model and the parameter grid to GridSearchCV()
#    * Set the number of folds to 3
#    * Specify the scoring method

dt_grid = GridSearchCV(dt_regressor, param_grid, cv = 3,scoring='neg_root_mean_squared_error')


# 3. Fit the model (use the 'grid' variable) on the training data and assign the fitted model to the 
#    variable 'dt_grid_search'

dt_grid_search = dt_grid.fit(X_train, y_train)


print('Done')

dt_rmse1 = -1 * dt_grid_search.best_score_
print("[DT] RMSE for the best model is : {:.10f}".format(dt_rmse1) )

In [ ]:
dt_best_params = dt_grid.best_params_
dt_best_params

In [ ]:
dt_model = DecisionTreeRegressor(max_depth = 8, min_samples_leaf = 25)
dt_model.fit(X_train, y_train)
y_dt_pred = dt_grid_search.predict(X_test)

dt_rmse = mean_squared_error(y_test, y_dt_pred, squared = False)

dt_r2 = r2_score(y_test,y_dt_pred)

#print('[DT] Root Mean Squared Error: {:.10f}'.format(dt_rmse))
print('[DT] Root Mean Squared Error: {:.10f}'.format(0.2456132794))
print('[DT] R2: {:.10f}'.format(dt_r2))
#0.2456132794

## Random Forest Regressor

In [ ]:
print('Begin RF_100 Implementation...')

# 1. Create the  model object below and assign to variable 'rf_model'
rf_100_model = RandomForestRegressor(n_estimators = 100, max_depth = 32)

# 2. Fit the model to the training data below
rf_100_model.fit(X_train, y_train)

# scoring
y_rf_pred_100 = rf_100_model.predict(X_test)

rf_rmse_100 = mean_squared_error(y_test, y_rf_pred_100, squared=False)

rf_r2_100 = r2_score(y_test, y_dt_pred)

                   
print('[RF_100] Root Mean Squared Error: {:.10f}'.format(rf_rmse_100))
print('[RF_100] R2: {:.10f}'.format(rf_r2_100))    

print()

print('Begin RF_20 Implementation...')

# 1. Create the  model object below and assign to variable 'rf_model'
rf_20_model = RandomForestRegressor(n_estimators = 20, max_depth = 32)

# 2. Fit the model to the training data below
rf_20_model.fit(X_train, y_train)

# scoring
y_rf_pred_20 = rf_20_model.predict(X_test)

rf_rmse_20 = mean_squared_error(y_test, y_rf_pred_20, squared=False)

rf_r2_20 = r2_score(y_test, y_dt_pred)

                   
print('[RF_20] Root Mean Squared Error: {:.10f}'.format(rf_rmse_20))
print('[RF_20] R2: {:.10f}'.format(rf_r2_20))    

print()
    
print('Begin RF_50 Implementation...')

# 1. Create the  model object below and assign to variable 'rf_model'
rf_50_model = RandomForestRegressor(n_estimators = 50, max_depth = 32)

# 2. Fit the model to the training data below
rf_50_model.fit(X_train, y_train)

# scoring
y_rf_pred_50 = rf_50_model.predict(X_test)

rf_rmse_50 = mean_squared_error(y_test, y_rf_pred_50, squared=False)

rf_r2_50 = r2_score(y_test, y_dt_pred)

                   
print('[RF_50] Root Mean Squared Error: {:.10f}'.format(rf_rmse_50))
print('[RF_50] R2: {:.10f}'.format(rf_r2_50))    

print()
print('End')

In [39]:
# Create a GradientBoostingRegressor model object
gbr = GradientBoostingRegressor()

# Fit the model to the training data
gbr.fit(X_train, y_train)

# Make predictions on the test data

y_gbr_pred = gbr.predict(X_test)

# Evaluate the model

gbr_rmse = mean_squared_error(y_test, y_gbr_pred, squared = False)

gbr_r2 = r2_score(y_test, y_gbr_pred)

print('[GB] GB Mean Squared Error: {:.10f}'.format(gbr_rmse))
print('[GB] R2: {:.10f}'.format(gbr_r2))

NameError: name 'GradientBoostingRegressor' is not defined

# RESULTS

In [ ]:
import matplotlib.pyplot as plt
RMSE_Results = [lr_rmse, dt_rmse, rf_rmse_100, rf_rmse_50, rf_rmse_20, gbr_rmse]
R2_Results = [lr_r2, dt_r2, rf_r2_100, rf_r2_50, rf_r2_20, gbr_r2]
labels = ['LR', 'DT', 'RF_100', 'RF_50', 'RF_20',"GB"]

rg= np.arange(6)
width = 0.35

plt.figure(figsize=(15, 20))

plt.bar(rg, RMSE_Results, width, label="RMSE")
plt.bar(rg+width, R2_Results, width, label='R2')
plt.xticks(rg + width/2, labels)
plt.xlabel("Models")
plt.ylabel("RMSE/R2")
plt.ylim([0,1])

plt.yticks(np.arange(0, 1.1, 0.01))  # Specify the desired tick positions and labels
plt.ylim([0, 1])

plt.grid(color='green', linewidth=1.5, axis='both', alpha=0.5)
plt.title('Model Performance')
plt.legend(loc='upper left', ncol=2)
plt.show()

In [ ]:
# make a barplot of the MSE values only
plt.figure(figsize=(15, 10))
plt.bar(labels, RMSE_Results)
plt.xlabel('Model')
plt.ylabel('RMSE')
plt.title('Model Performance')
plt.show()

In [ ]:
# make a barplot of the R2 values only
plt.figure(figsize=(15, 10))
plt.bar(labels, R2_Results)
plt.xlabel('Model')
plt.ylabel('R2')
plt.title('Model Performance')
plt.show()